<h2 class="homepage-header">Welcome to Pokemon Card Collector</h2>

<p class="homepage-text">Pokemon CC was created for the safety of your pokemon cards. Carrying around a physical copy of your pokemon cards can be very stressful.
  Several things can happen to them they can either be stolen, dented on the corners, or completely damaged by either water or dirt depreciating
  the value of the card. The is why Pokemon CC was created so you don't have to worry about all those things happening to your cards. Pokemon CC 
  is a digital binder that allows you to save your pokemon cards to a digital binder after creating an account. 
</p>