<div class ="login-page">
  <div class="login-box">
    <div class=" login-wrap">

      <div class="login-header">
        <h2>Welcome Trainer</h2>
      </div>

      <form class="login-form">

         <div>
          <input class="field" type="text" id ="login-email" placeholder="Email" />
        </div>

        <div>
          <input class="field" type="text" id ="login-password" placeholder="Password" />
        </div>

        <div>
          <button type="submit" class="login-btn" placeholder="Password"> Login </button>
        </div>

        <div>
          <p class="create-account-message"> Don't have an account?</p>
        </div>

      </form>

    </div>
  </div>
</div>

<script src="/public/js/login.js"></script>