<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/search.css" />
    <title>Pokemon Card Search</title>
  </head>

  <body>
  <main>
      <h2>Pokemon Card Search</h2>
      <form action="/binder" method="GET">
        <input class="text box" type="text" name="name" placeholder="Enter Pokemon Name">
        <button class="submit-btn" type="submit">Search</button>
      </form>
      <div class="card-list">
        {{#if cards.length}}
          {{#each cards}}
            <div class="card">
              <img src="{{images.small}}" alt="{{name}}">
            </div>
          {{/each}}
        {{else}}
          <p></p>
        {{/if}}
      </div>
    </main>
  </body>
</html>