<div class ="create-account-page">
  <div class ="create-account-box">
    <div class="account-wrap">
      
      <div class="account-box-header">
        <h2>Create an account</h2>
      </div>

      <form class="signup-form">
        <div>
          <input class="field" type="text" id ="enter-username" placeholder="Create username" />
        </div>

        <div>
          <input class="field" type="text" id ="enter-email" placeholder="Email" />
        </div>

        <div>
          <input class="field" type="password" id ="enter-password" placeholder="Password" />
        </div>

        <div>
          <button type="submit" class="signup-btn"> Create Account</button>
        </div>

      </form>

    </div>
  </div>
</div>

<script src="js/signup.js"></script>